<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Configuration saved</title>
        {{render_template("templates/styles.html")}}
    </head>
    <body>
        <div class="page">
            <h1>Settings Saved!</h1>
            <p>The program will restart with wifi &quot;{{ssid}}&quot;</p>
            <p>You can reconnect to make changes using the IP address found in your router (or command ARP -a)</p>
        </div>
    </body>
</html>